<header><span class='logo'><img src='assets/images/nate-logo.png'/></span></header>
<nav class="nav">
  <input type="checkbox" class="nav__cb" id="menu-cb"/>
  <div class="nav__content">
    <ul class="nav__items">
      <li class="nav__item">
        <a [routerLink]="['/']">
          <span class="nav__item-text">
            Home
          </span>
        </a>
      </li>
      <li class="nav__item">
        <a href='https://leetcode.natecheng.me' target='_blank'><span class="nav__item-text">
          Leetcode
        </span></a>
      </li>
      <li class="nav__item">
        <a href="https://uptowork.com/mycv/natec" target="_blank">
        <span class="nav__item-text">
          Resume
        </span>
        </a>
      </li>
      <li class="nav__item">
          <a href="https://medium.com/@natecheng" target="_blank">
          <span class="nav__item-text">
            Blog
          </span>
          </a>
        </li>
      <li class="nav__item">
        <a  [routerLink]="['/contact']">
          <span class="nav__item-text">
            Contact
          </span>
        </a>
      </li>
    </ul>
  </div>
  <label class="nav__btn" for="menu-cb"></label>
</nav>

<router-outlet></router-outlet>

<!-- social button -->

<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="0" height="0">
  <defs>
    <filter id="goo">
      <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
      <feBlend in="SourceGraphic" in2="goo" />
    </filter>
  </defs>
</svg>
<div class="">
  <div class="social-buttons__buttons" #buttons>
    <div class="social-buttons__social-btn-1 social-buttons__social-btn"><a href="https://www.linkedin.com/in/nate-cheng-41b68824/" target="_blank"><i class="fa fa-linkedin-square"></i></a></div>
    <div class="social-buttons__social-btn-2 social-buttons__social-btn"><a href="https://www.facebook.com/nate.cheng" target="_blank"><i class="fa fa-facebook-square"></i></a></div>
    <div class="social-buttons__social-btn-3 social-buttons__social-btn"><a href="https://codepen.io/boo0330/" target="_blank"><i class="fa fa-codepen"></i></a></div>
    <div class="social-buttons__social-btn-4 social-buttons__social-btn"><a href='https://github.com/qqnc' target="_blank"><i class="fa fa-github"></i></a></div>
    <div class="social-buttons__open-btn" (click)='toggle()'><i class="fa fa-share-alt"></i></div>
  </div>
</div>