@import '../../assets/scss/color-schema.scss';
svg {
  position: absolute;
}

.myname {
  font-family: 'Lobster', sans-serif;
  letter-spacing: 5px;
  color: #6ae7dd;
  font-size: 48px;
}


.about-me {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 14px;
  color: white;  
  font-family: sans-serif;
  
  & a {
    color: white;
    
    &:hover {
      color: lighten(blue, 20%);
    }
  }
}

.typed-element i {
  color: #f4eb42 !important;
}

.statement {
  font-size: .5em;
  color: #fff;
  position: fixed;
  right: 20px;
  bottom: 10px;
}

.statement > a, .statement > a:hover, .statement > a:link, .statement > a:visited {
  text-decoration: none;
  font-weight: 700;
  color: darken($mainColor, 20%);
}