@import '../../../assets/scss/color-schema.scss';

form { max-width:420px; margin:50px auto; }

.content.contact {
  top: 30%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: .9; /* Firefox */
}

.feedback-input {
  color:#fff;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 2px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid darken($mainColor, 10%);
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid darken($mainColor, 10%); }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"], [type="button"]  {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:darken($mainColor, 10%);
  border-radius:2px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
  margin: 20px;
}
[type="submit"]:hover, [type="button"]:hover { background:darken($mainColor, 10%); }